.welcome-page {
    font-family: 'Roboto Medium 500', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background: radial-gradient(circle at center, #FFCCF2 0%, #0033FF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}